<?xml version="1.0"?>
<ruleset name="composer-wp-config">
	<description>Coding Standard for composer-wp-config</description>

	<file>.</file>

	<rule ref="Required">
		<exclude name="PSR1.Files.SideEffects.FoundWithSymbols"/>
	</rule>

	<rule ref="WordPress.NamingConventions.ValidVariableName.VariableNotSnakeCase">
		<exclude-pattern>/src/Plugin\.php</exclude-pattern>
	</rule>
	<rule ref="WordPress.NamingConventions.ValidVariableName.PropertyNotSnakeCase">
		<exclude-pattern>/src/Plugin\.php</exclude-pattern>
	</rule>
	<rule ref="WordPress.NamingConventions.ValidVariableName.UsedPropertyNotSnakeCase">
		<exclude-pattern>/src/Plugin\.php</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.FunctionCommentThrowTag.Missing">
		<exclude-pattern>/src/Plugin\.php</exclude-pattern>
	</rule>
</ruleset>
